# Homework #1

**Due: Friday Oct. 13th @ 11:59 pm**

**Objective:** This assignment will give you experience using a Jupyter notebook to write text and code, including variables, mathematical operations, string, and list manipulations.

<!-- BEGIN QUESTION -->

# Question 1 (20 points)

Although the goal of OCEAN 215 is not to teach "data science" per se, we hope this course will give you a window into the possibilities offered by data analysis. If you find that you enjoy working with data and writing computer code, you might want to consider a career in academic research or data science. But what is data science, precisely? To better understand this rapidly-growing field, we would like you to read the following article (which should take about 15 minutes), then answer the questions below. There are no wrong answers, but please respond thoughtfully with 2-3 sentences for each. 

Article: "What is data science?" Thinkful. https://www.thinkful.com/blog/what-is-data-science/. Read up until the "Your Turn" section.

> a) What data do you think you have generated today that might, at some point, be analyzed by a data scientist (5 points)?

> b) Can you think of an oceanography data set that could be considered "big data"? Why would it be classified as such (5 points)?

> c) The article describes how machine learning can be useful for making predictions and identifying relationships in data. Can you think of a research question or task in oceanography or your academic area of interest that might benefit from machine learning? Why might machine learning be particularly useful for that task (10 points)?

(a): My exercise data can be used for a data scientist to see my exercise pattern. For example, analyze the relationship between my body weight and exercise time, and then use the model to predict the future pattern.

(b): Global ocean heat data set can be considered as "big data", as "big data" is usually large, complex, and constantly changing. The global heat data set keeps updating and may include ocean heat in diffferent time, region, and other complex factors. 

(c): In terms of the global ocean heat data, we can utilize machine learning techniques to explore the relationship between heat and the greenhouse gases. After finding the underlying pattern, we can use such model to predict the future development of global ocean heat. Machine learning is a process of using machines to better understand a process or system, and recreate, replicate or augment that system. In some cases, machines process data in order to develop some kind of understanding of the underlying system that generated it. In others, machines process data and develop new systems for understanding it.

<!-- END QUESTION -->

# Question 2 (25 points)

The depth of the photic zone (the maximum depth where photosynthesis can occur) in the ocean varies. In clear, pelagic water the photic zone extends to 200 meters depth. In turbid coastal water, the photic zone might only extend to 50 meters depth.

Diatoms are a type of phytoplankon (plankton that photosynthesize for energy). They have silica cell walls, and have no appendages for swimming. They must remain near the ocean surface in the photic zone to photosynthesize. To do this, they regulate their bouyancy to sink as slowly as possible. A small diatom might sink 0.9 feet/day, while a large one might sink 13.5 feet/day.

Use this information to answer the following questions by writing Python code in the cell below. **Please have your code output (print) each question part and the solution, including the units!**


> a) Assign the depth of the pelagic photic zone, coastal photic zone, small diatom sinking rate, and large diatom sinking rates to assigned variable names and print them. (5 points)

> b) Convert the sinking rate of each diatom type to meters/day. (5 points)

> c) Convert the sinking rate of each diatom type to centimeters/hour. (5 points)

> d) Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in turbid coastal water. (5 points)

> e) Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in clear pelagic water. (5 points)

In [ ]:
##Example code for printing answers
"""
answer = 50
units = "hours"
print("part f)",answer,units)
"""
# Provide your answers in the cells below:

### part a
Assign the depth of the pelagic photic zone, coastal photic zone, small diatom sinking rate, and large diatom sinking rates to assigned variable names and print them. (5 points)

In [4]:
pelagic = 200 # meters
coastal = 50
# time = ...
# depth = ...
# metricdepth = ...
sdiatom = 0.9 # feet/day
ldiatom = 13.5

### part b
Convert the sinking rate of each diatom type to meters/day. (5 points)

In [23]:
ft_to_m = 3.2808399
sdiatom_m = sdiatom / ft_to_m # meters/day
ldiatom_m = ldiatom / ft_to_m
print("part b)", sdiatom_m, "meters/day", ldiatom_m, "meters/day")

part b) 0.2743199995830336 meters/day 4.114799993745504 meters/day

### part c
Convert the sinking rate of each diatom type to centimeters/hour. (5 points)

In [22]:
day_to_hours = 24
m_to_cm = 100
sdiatom_cm_hr = sdiatom_m * 100 / 24 #centimeters/hour
ldiatom_cm_hr =  ldiatom_m * 100 / 24
print("part c)", sdiatom_cm_hr, "centimeters/hour", ldiatom_cm_hr, "centimeters/hour")

part c) 1.14299999826264 centimeters/hour 17.1449999739396 centimeters/hour

### part d
Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in turbid coastal water. (5 points)

In [21]:
sdiatomsink = coastal / sdiatom_m
ldiatomsink = coastal / ldiatom_m
print("part d)", sdiatomsink, "days", ldiatomsink, "days")

part d) 182.26888333333332 days 12.151258888888888 days

### part e
Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in clear pelagic water. (5 points)

In [20]:
sdiatomsink = pelagic / sdiatom_m
ldiatomsink = pelagic / ldiatom_m
print("part e)", sdiatomsink, "days", ldiatomsink, "days" )

part e) 729.0755333333333 days 48.60503555555555 days

# Question 3 (20 points)

Ribosomal RNA (rRNA) gene sequencing is often used in phylogenetic research. Each sequence is made up of combinations of 4 different nucleobases, adenine (A), cytosine (C), guanine (G), and uracil (U). Every species of bacteria and archaea has a slightly-unique version of its 16s rRNA gene. This means that 16s rRNA can be targeted to classify what marine bacteria are present in a given parcel of seawater.

In the code box below, there are two strings containing different rRNA sequences, which differ from DNA in that they contain uracil (U) nucleobases rather than thymine (T). Answer the following questions using Python. As in Question 2, please have your code output (print) the solutions to each, including any strings you are asked to create or slice.

> a) How many nucleobases are in each of the sequences?
How many times does guanine (G) occur in each of the sequences? (5 points)

> b) Do four uracil (U) nucleobases ever occur side-by-side in either of the sequences? Provide your answers as booleans. (5 points)

> c) Change these rRNA sequences to DNA sequences by replacing the uracil (U) bases with thymine (T) bases in both rRNA sequences. (5 points)

> d) Slice and print the first 24 nucleobases from the new DNA sequences. How many of each nucleobase (A,C,G,T) are in each of these shorter sequences? (5 points)

In [27]:
# Keep these starting lines of code – DO NOT CHANGE THIS!:

RNA1 = 'GGGGGGCAGCAGUGGGGAAUAUUGGGCAAUGGACGAAAGUCUGACCCAGCCAUGCCGCGUGUGUGAAGAAGGCUCUAGGGUUGUAAUGCACUUUAAGUAGGGAGGAAAGGUUGUGUGUUAAUAGCACAUAGCUGUGACGUUACCUACAGAAUAAGCACCGGCUAACUCCGUGCCAGCAGCCGCGGUAAUACGGAGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGCGCGUAGGCGGUUAUUUAAGCUAGAUGUGAAAGCCCAGGGCUCAACCUUGGAAUUGCAUUUAGAACUGGGUAGCUAGAGUACAAGAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGAUUGAUACUGACGCUGAGGUGCGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCCAGUAGUCCU'
RNA2 = 'GGGGCGCAGCAGUGGGGAAUAUUGCACAAUGGGCGAAAGCCUGAUGCAGCCAUGCCGCGUGUGUGAAGAAGGCCUUCGGGUUGUAAAGCGCUUUCAGUUGUGAGGAAAGGGGUGUAGUUAAUAGCUACAUCCUGUGACGUUAGCAACAGAAGAAGCACCGGCUAACUUCGUGCCAGCAGCCUCGGUAAUACGAGGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGUUCGUAGGCGGUUUGUUAAGCAAGAUGUGAAAGCCCUGGGCUCAACCUGGGAACUGCAUUUUGAACUGGCAAACUAGAGUACUGUAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGACAGAUACUGACGCUGAGGAACGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCUAGUAGUCUG'

# Provide your answers in cells below:

_Type your answer here, replacing this text._

In [29]:
nucleocount1 = len(RNA1)
nucleocount2 = len(RNA2)

gcount1 = RNA1.count('G')
gcount2 = RNA2.count('G')

print("part a)", nucleocount1, nucleocount2, gcount1, gcount2)

part a) 462 462 155 154

Ellipsis

### part b
Do four uracil (U) nucleobases ever occur side-by-side in either of the sequences? Provide your answers as booleans. (5 points)

In [44]:
# report counter1 and counter2 back as booleans
if RNA1.find('ACGU'):
    counter1 = True
if RNA2.find('ACGU'):
    counter2 = True

print("part b)", counter1, counter2)

part b) True True

Ellipsis

### part c 
Change these rRNA sequences to DNA sequences by replacing the uracil (U) bases with thymine (T) bases in both rRNA sequences. (5 points)

In [37]:
DNA1 = RNA1.replace("U", "T")
DNA2 = RNA2.replace("U", "T")

print("partc)", "DNA1 = " + DNA1, "DNA2 = " + DNA2)

partc) DNA1 = GGGGGGCAGCAGTGGGGAATATTGGGCAATGGACGAAAGTCTGACCCAGCCATGCCGCGTGTGTGAAGAAGGCTCTAGGGTTGTAATGCACTTTAAGTAGGGAGGAAAGGTTGTGTGTTAATAGCACATAGCTGTGACGTTACCTACAGAATAAGCACCGGCTAACTCCGTGCCAGCAGCCGCGGTAATACGGAGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCGCGTAGGCGGTTATTTAAGCTAGATGTGAAAGCCCAGGGCTCAACCTTGGAATTGCATTTAGAACTGGGTAGCTAGAGTACAAGAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGATTGATACTGACGCTGAGGTGCGAAAGCGTGGGGAGCAAACAGGATTAGATACCCCAGTAGTCCT DNA2 = GGGGCGCAGCAGTGGGGAATATTGCACAATGGGCGAAAGCCTGATGCAGCCATGCCGCGTGTGTGAAGAAGGCCTTCGGGTTGTAAAGCGCTTTCAGTTGTGAGGAAAGGGGTGTAGTTAATAGCTACATCCTGTGACGTTAGCAACAGAAGAAGCACCGGCTAACTTCGTGCCAGCAGCCTCGGTAATACGAGGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGTTCGTAGGCGGTTTGTTAAGCAAGATGTGAAAGCCCTGGGCTCAACCTGGGAACTGCATTTTGAACTGGCAAACTAGAGTACTGTAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGACAGATACTGACGCTGAGGAACGAAAGCGTGGGGAGCAAACAGGATTAGATACCCTAGTAGTCTG

Ellipsis

### part d
Slice and print the first 24 nucleobases from the new DNA sequences. How many of each nucleobase (A,C,G,T) are in each of these shorter sequences? (5 points)

In [48]:
DNA1s = DNA1[0:24]
DNA1_A = DNA1s.count('A')
DNA1_C = DNA1s.count('C')
DNA1_G = DNA1s.count('G')
DNA1_T = DNA1s.count('T')

DNA2s = DNA2[0:24]
DNA2_A = DNA2s.count('A')
DNA2_C = DNA2s.count('C')
DNA2_G = DNA2s.count('G')
DNA2_T = DNA2s.count('T')

print("part d)", DNA1s, DNA1_A, DNA1_C, DNA1_G, DNA1_T, 
      DNA2s, DNA2_A, DNA2_C, DNA2_G, DNA2_T)

part d) GGGGGGCAGCAGTGGGGAATATTG 5 2 13 4 GGGGCGCAGCAGTGGGGAATATTG 5 3 12 4

Ellipsis

# Question 4 (25 Points)
Tides in the Gulf of Mexico are usually diurnal. This means that there is one high tide and one low tide every ~24 hours. This differs from our local semi-diurnal Seattle tides that have one high and one low every ~12 hours. Tidal amplitudes in the Gulf of Mexico are also very small compared to our local Puget Sound tides.

New Orleans, Louisiana is a city located on the Gulf of Mexico where diurnal tides dominate. The lists below contain the dates, high tide times, low tide times, high tide heights (in feet), and low tide heights (in feet) for tidal forcasts for the week of Oct. 1 - Oct 8, 2022. The lists are each the same length, with each index corresponding to a single day.

Use these lists and build Python code to answer the following questions. As before, please have your code output (print) the solutions and units for each. Make sure you are using the provided variable names to reference your variables instead of hardcoding your answers!

> a) What is the maximum high tide measurement during this week? Find it's index in the list. (5 points)

> b) Use list indexing to print the date of the maximum high tide. Calculate the tidal amplitude for that day. *(Hint: Tidal amplitude = maximum measurement - minumum measurement).* (5 points)

> c) What is the minimum low tide measurement during this week? Find it's index in the list. *(Hint: There is one day that there is no tidal minimum, represented by None rather than a float. You cannot take the minimum of list with a NoneType object. Develop a creative workaround for this problem, and justify your method in your comments!)* (5 points)

> d) Use list indexing to print the date of the minimum low tide. Calculate the tidal amplitude for that day (5 points).

> e) Find out which of the two dates have the highest tidal amplitude using a boolean test. Print and label the date, low tide time, high tide time, and tidal amplitude in the same line.(5 points)

In [76]:
# Keep these starting lines of code – these may not be changed:
dates = ['October 1','October 2','October 3','October 4','October 5','October 6','October 7','October 8']
high_times = ['6:05AM','6:53AM','7:42AM','8:32AM','9:21AM','10:10AM','11:02AM','6:07PM']
low_times = ['4:37PM','6:36PM','9:45PM','11:05PM', None,'00:07AM','1:02AM','1:55AM']
high_measurement_feet = [1.57, 1.65, 1.67, 1.61, 1.44, 1.25, 1.02, 0.85]
low_measurement_feet =  [-0.02, -0.07, -0.03, -0.02, None, 0.03, 0.16, 0.36]

# Provide your answers below:

_Type your answer here, replacing this text._

In [78]:
baseline = max(high_measurement_feet)
baseindex = high_measurement_feet.index(baseline)

print("part a)", baseline, baseindex)

part a) 1.67 2

### part b
Use your variable "baseindex" from part a) with list indexing to print the date of the maximum high tide. Calculate the tidal amplitude for that day. (Hint: Tidal amplitude = maximum measurement - minumum measurement). (5 points)

In [79]:
max_amp_date = dates[baseindex]
max_amp = high_measurement_feet[baseindex] - low_measurement_feet[baseindex]

print("part b)", max_amp_date, max_amp)

part b) October 3 1.7

### part c
What is the minimum low tide measurement during this week? Find it's index in the list. (Hint: There is one day that there is no tidal minimum, represented by None rather than a float. You cannot take the minimum of list with a NoneType object. Develop a creative workaround for this problem, and justify your method in your comments!) (5 points)

In [80]:
# Contents in the brackets: This part of the expression 
# iterates over the low_measurement_feet list, 
# considering only those elements (x) that are not None.
# The min() function then can be given to the whole brackets
# to find the minimum values.
minbase = min(x for x in low_measurement_feet if x is not None)
minbaseindex = low_measurement_feet.index(minbase)

print("part c)", minbase, minbaseindex)

part c) -0.07 1

### part d
Use list indexing to print the date of the minimum low tide. Calculate the tidal amplitude for that day (5 points).

In [82]:
min_amp_date = dates[minbaseindex]
min_amp = high_measurement_feet[minbaseindex] - low_measurement_feet[minbaseindex]

print("part d)", min_amp_date, min_amp)

part d) October 2 1.72

### part e
Find out which of the two dates from part b) and part d) have the higher tidal amplitude using a boolean test. Print and label the date, low tide time, high tide time, and tidal amplitude in the same line.(5 points)

In [87]:
if min_amp > max_amp:
    high_amp_date = min_amp_date
else:
    high_amp_date = max_amp_date

index = dates.index(high_amp_date)
low_tide_time = low_times[index]
high_tide_time = high_times[index]
amp = high_measurement_feet[index] - low_measurement_feet[index]
    
print ("part e)", high_amp_date, low_tide_time, high_tide_time, amp)

part e) October 2 6:36PM 6:53AM 1.72